{% extends "core/base.html" %}

{% load i18n profile staticfiles booktype_tags compress %}
{% block extra_header %}
    {% compress js %}
    <script type="text/javascript" src="{% static "portal/js/group.js" %}"></script>
    <script type="text/javascript" src="{% static "account/js/register.js" %}"></script>
    <script type="text/javascript" src="{% static "portal/js/addbook.js" %}"></script>
    {% endcompress %}
{% endblock %}
{% block content %}

    <div class="container group">
        <div class="row two-col">
            <div class="col-xs-8">
                <div class="box profile-box black">
                     <figure><img src="{{ user_group.group_image }}?{% random_url %}" /></figure>
                     <div class="list-info">
                        <h2 class="box-title">{{ user_group.name }}</h2>
                            <p>{{ user_group.description }}</p>
                            <p>
                                {% trans "Members" %}: {{ user_group.num_members }}  <br>
                                 {% trans "Books" %}: {{ user_group.num_books }}
                            </p>
                     </div>

                     <div class="box-bottom-white">
                        {% if request.user.is_authenticated %}
                            {% if user.is_superuser or is_group_admin %}
                            <button class="btn btn-default float-right btn-delete-group" data-remote="{% url 'portal:delete_group' user_group.url_name %}" data-toggle="modal" data-target="#groupDeleteModal">
                                {% trans "Delete Group" as deletegroup_text %} {{ deletegroup_text|upper }}
                            </button>
                            {% endif %}

                            {% if not is_group_member %}
                                <button group-name-url="{% url "portal:group" user_group.url_name %}" role="button" class="btn btn-default float-left join-group-button" rel="tooltip" title="" data-placement="bottom" data-original-title="{% trans "Click this button to join this group of writers and editors. You can leave the group at any time" %}">{% trans "JOIN THIS GROUP" %}</button>
                            {% else %}
                                {% if not is_group_admin %}
                                    <button group-name-url="{% url "portal:group" user_group.url_name %}" role="button" class="btn btn-success float-left leave-group-button" rel="tooltip" title="" data-placement="bottom" data-original-title="{% trans "Click this button to leave this group. You can rejoin the group at any time" %}">{% trans "LEAVE THIS GROUP" %}</button>
                                {% else %}
                                    <button data-href="{% url "portal:group_settings" user_group.url_name %}" role="button" class="btn btn-default float-right group-settings-button" rel="tooltip" title="" data-placement="bottom" data-original-title="{% trans "Click this button to update the name, description or image for your group" %}">{% trans "Group Settings" as groupsettings_text %} {{ groupsettings_text|upper }}</button>
                                {% endif %}
                            {% endif %}
                        {% endif %}
                     </div>
                </div>

                    <div class="box gray books-widget">
                    <h2 class="box-title-alter">
                        {% trans "Books" %}
                        <div class="btn-toolbar float-right">
                            <div class="btn-group float-right">
                                <button class="btn btn-default btn-sm showGrid" rel="tooltip" title="" data-placement="bottom" data-original-title="{% trans "Show in a grid" %}"><i class="icon-th"></i></button>
                                <button class="btn btn-default btn-sm showList" rel="tooltip" title="" data-placement="bottom" data-original-title="{% trans "Show in a list" %}"><i class="icon-list-ul"></i></button>
                            </div>
                        </div>
                    </h2>
                    <div class="book-thumb showing-books" id="books-prew"> <!-- For list view add book-list class, and remove book-thumb -->
                        {% for book in books_list %}
                            <div class="grid-4">
                                <figure class="custom-cover">
                                    {% if book.cover %}
                                        <img src="{% url "reader:book_cover" book.url_title %}" />
                                    {% else %}
                                        <img src="{% static "core/img/thumb-default.png" %}"/>
                                    {% endif %}
                                </figure>
                                <div class="book-info">
                                    <h4><a href="{% url "reader:infopage" book.url_title %}">{{ book.title }}</a></h4>
                                        {% if request.user.is_authenticated %}
                                            <div class="btn-group float-right">
                                                <a class="btn btn-xs" rel="tooltip" title="" data-placement="bottom" data-original-title="{% trans "Edit Book" %}" data-toggle="modal" href="{% url "edit:editor" book.url_title %}"><i class="icon-pencil"></i></a>
                                                <a class="btn btn-xs" rel="tooltip" title="" data-placement="bottom" data-original-title="{% trans "View Book Info" %}" href="{% url 'reader:infopage' book.url_title %}" target="_blank"><i class="icon-eye-open"></i></a>
                                                <a class="btn btn-xs" rel="tooltip" title="" data-placement="bottom" data-original-title="{% trans "Delete Book" %}" href="{% url "accounts:view_profile"    request.user.username %}"><i class="icon-trash"></i></a>
                                            </div>
                                        {% endif %}
                                </div>
                            </div>
                        {% endfor %}
                    </div> <!-- End of book list (book-thumb or book-list) -->
                    {% if is_group_admin %}
                        <div class="box-bottom-white">
                            {% include "portal/portal_add_book_modal.html" %}
                            <button href="#" role="button" class="btn btn-default float-left" data-toggle="modal" data-target="#addBookModal" rel="tooltip" title="" rel="tooltip" title="" data-placement="bottom" data-original-title="{% trans "Click this button to select other books and add them to this group" %}">{% trans "Add books to this group" as addbook_text %} {{ addbook_text|upper }}</button>
                        </div>
                    {% endif %}
                </div>
            </div>

            <div class="col-xs-4">
                {% if not request.user.is_authenticated %}
                <div class="login-widget box gray">
                    <script>
                        $(function() {
                            $("#formsignin").booktypeSignin({'url': '{% url "accounts:signin" %}'});
                        });
                    </script>
                        <div class="signin-block">
                            {% include "account/form_signin.html" %}
                        </div>
                        <div class="box-bottom-white">
                            <p>{% trans "Not a member? Please fill the " %}<a href="{% url "accounts:signin" %}">{% trans "Registration form" %}</a></p>
                        </div>
                </div>
                {% endif %}

                <div class="box white">
                    <h2 class="box-title">{% trans "Members" %}</h2>
                    <ul class="list border-top user-avatar circle">
                        {% for member in group_members %}
                            <li>
                                <figure>{% profile_image member  %}</figure>
                                <div class="list-info">
                                    <h4>
                                      {% if can_view_user_info or request.user == member %}
                                        <a href="{% url "accounts:view_profile" member.username %}">{{ member.username }}</a>
                                      {% else %}
                                        {{ member.username }}
                                      {% endif %}
                                    </h4>
                                    <p>{{ member.get_full_name }}</p>
                                </div>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div id="groupDeleteModal" class="modal fade cleanModalInfo" tabindex="-1" role="dialog" aria-labelledby="editBookInfoModal" aria-hidden="true">
    </div>
{% endblock %}
